@charset "utf-8";
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,iframe{
    margin:0;padding:0
}
body{
    font-size:12px;
    font-family: Arial,Verdana,"\5b8b\4f53";
    background: #f7f8f8;
} 
a{
    text-decoration:none;
}
em,
i,
b,
strong{
    font-style:normal;
}
img{
    vertical-align: middle;
}
li{
    list-style:none;
}
img{
    border:0
}
.left{
    float:left
}
.right{
    float:right
}
.clearfix:after{
    content:"." ;
    clear:both;
    height:0;
    overflow:hidden;
    visibility:hidden;
    display:block
}
.wrapper{
    width:1200px;
    margin:0 auto;
}